{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "prettier",
      "airbnb",
      "airbnb/hooks",
      "prettier/react",
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended"
    ],
    "rules": {
      "indent":[
          "error",
          4
      ],
      "no-unused-vars": 1,
      "no-use-before-define": 1
    }
}